@page "/"
@using System.Drawing

<PageTitle>Home</PageTitle>

<h1>Hello, InputIcons!</h1>

<InputIconContainer >
    <InputIcon Text="I" Color="@Color.Black"/>
    <InputIcon Text="N" Color="@Color.Crimson"/>
    <InputIcon Text="P" Color="@Color.DarkOliveGreen"/>
    <InputIcon Text="U" Color="@Color.FromArgb(1, 60, 60, 60)"/>
    <InputIcon Text="T"/>
    <InputIcon Text="I"/>
    <InputIcon Text="C"/>
    <InputIconContainer Size="IconSize.Large">
        <InputIcon Text="O"/>
        <InputIcon Text="N"/>
        <InputIcon Text="S"/>
    </InputIconContainer>
</InputIconContainer>

<div style="display:inline-block">
    <span class=".input-icons-container">
        Welcome to your new app.
        <InputIcon Text="CTRL"/>&nbsp;+&nbsp;<InputIcon Text="A"/>
    </span>
</div>
<InputIconContainer >
    <InputIcon Text="C" Size="IconSize.Large"/>
    <InputIcon Text="CT"></InputIcon>
</InputIconContainer>

<InputIconContainer Size="IconSize.Large">
    <InputIcon Text="CTR"></InputIcon>
    <InputIcon Text="CTRL"></InputIcon>
    <InputIcon Text="CTRLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL" Color="@Color.Crimson"></InputIcon>
</InputIconContainer>
<p>
    This is what <br/>
    Regular <kbd>KBD</kbd> + <kbd>Style</kbd> <br/>
    in a paragraph.<br/>
    New line test.
</p>