<div class="@BaseCss" style="@ColorScheme?.BaseGradientCss">
    <div class="@FaceCss @FaceRoundness"
         style="@ColorScheme?.FaceGradientCss @FaceWidth @FaceHeight">
        <div class="@KeyLayer @FaceRoundness" style="@ColorScheme?.FaceRimCss"></div>
        @if (WrapWithKbdTag)
        {
            <kbd>@Text</kbd>
        }
        else
        {
            @Text
        }
    </div>
</div>
<svg width="0" height="0">
    <defs>
        <clipPath id="roundedTrapezoid" clipPathUnits="objectBoundingBox">
            <path d="@Trapezoid.SvgPath"/>
        </clipPath>
    </defs>
</svg>