<div class="@BaseCss" style="@ColorScheme?.BaseGradientCss @BasePadding 
clip-path: url('#@_trapezoidGuid.ToString()');"
     widthToHeightRatio="@HeightToWidthRatio"
     topWidth="@Trapezoid.TopWidth" oldTopWidth="@Trapezoid.OldTopWidth"
     topLeft="@Trapezoid.TopLeft.X">
    <div class="@FaceCss @FaceRoundness"
         style="@ColorScheme?.FaceGradientCss @FaceWidthCss @FaceHeightCss">
        <div class="@KeyLayer @FaceRoundness" style="@ColorScheme?.FaceRimCss"></div>
        @if (WrapWithKbdTag)
        {
            <kbd>@Text</kbd>
        }
        else
        {
            @Text
        }
    </div>
</div>
<svg width="0" height="0">
    <defs>
        <clipPath id="@_trapezoidGuid.ToString()" clipPathUnits="objectBoundingBox">
            <path d="@Trapezoid.SvgPath"/>
        </clipPath>
    </defs>
</svg>